@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Media</title>
</head>
<body>
    <iframe class="col-lg-12" style="height:850px"   border:1px solid silver" src="/lib/fileman/index.html?integration=custom&noselect=true">This feature requires IFRAME support</iframe>
</body>
</html>
