@{
    Layout = null;
}

<section class="content-header">
    <h1>
        Category
        <small>Maintain Category</small>
    </h1>

    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="/Gallery">Category</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="">
                        <button type="button" id="btnAddNew" class="btn btn-link">
                            Add New Category
                        </button>
                    </div>
                    <div>&nbsp;</div>
                    <div id='jqxWidget'>
                        <div id="jqxgrid"></div>
                        <div id="categoryPopupWindow" class="hide">
                            <div>Category Details - Edit</div>

                            <div style="overflow: auto;">
                                <div class="callout callout-danger hide errorDiv">
                                    <h4> Please Correct Below Error(s)</h4>

                                    <p id="perror"></p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Name">Category Name</label>
                                    <input type="text" name="Name" class="form-control" id="txtName" />
                                </div>

                                <div class="form-group hide">
                                    <input type="checkbox" class="icheckbox_flat-aero" id="chkActive" />Active
                                </div>

                                <div class="form-group actionBar">
                                    <input class="btn crud-submit btn-success" type="button" id="btnSave" value="Save" />
                                    <input id="btnCancel" class="btn crud-submit btn-danger" type="button" value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/distadmin/js/AppAdmin/Gallery/Category.js?_=@DateTime.Now.Ticks"></script>
