/RAMHX.SiteTemplates/Eattieslideshow/Site/logs/log.txt
/RAMHX.SiteTemplates/Liontheme/Site/logs/log.txt
/RAMHX.SiteTemplates/Mist/Site/logs/log.txt
logs
obj
/HaptiX.RAMHX.eDoctorBrand/HaptiX.RAMHX.eDoctor.DataAccess/bin
/HaptiX.RAMHX.eDoctorBrand/HaptiX.RAMHX.eDoctor.Repository/bin
bin
/HaptiX.RAMHX.eDoctorBrand/.vs/HaptiX.RAMHX.eDoctorBrand/v14
/RAMHX.SiteTemplates/MegaHotel/Site/logs
