@using RAMHX.CMS.DataAccess.Extension;
@using RAMHX.CMS.Web;

@{
    // var jobs = new HaptiX.CorpWeb.RAMHXWeb.Repos.JobRepo().GetJobs();
    //Model = jobs;
    Layout = null;
    ViewBag.Title = "Rooms";

    var Rooms = SiteContext.CurrentPage.cms_SubPages.ToList();
}
<div class="mg-rooms-cols">
    <div class="container">
        <div class="row">

            @for (int i = 0; i < Rooms.Count; i++)
            {
                <div class="col-sm-6">
                    <figure class="mg-room mg-room-col-2">
                        <img src="@Rooms[i].FieldValue("Image")" alt="img11" class="img-responsive">
                        <figcaption>
                            @Rooms[i].FieldValue("ShortDesc")

                            <a href="@Rooms[i].FullPageUrl" class="btn btn-main">View Details</a>
                        </figcaption>
                    </figure>
                </div>
            }

        </div>
    </div>
</div>

