@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: local('Marmelad'), local('Marmelad-Regular'), url(http://fonts.gstatic.com/s/marmelad/v6/kkvG0zg1nqKzOChG5DPiZfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
